<h1>Menuitems</h1>

<table>
  <thead>
    <tr>
      <th>Submenu</th>
      <th>Title</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menuitems.each do |menuitem| %>
      <tr>
        <td><%= menuitem.submenu.title %></td>
        <td><%= menuitem.title %></td>
        <td><%= link_to menuitem.path, menuitem.path %></td>
        <td><%= link_to 'Show', menuitem %></td>
        <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
        <td><%= link_to 'Destroy', menuitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menuitem', new_menuitem_path %>
