<%= form_for(kioskitem) do |f| %>
  <% if kioskitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kioskitem.errors.count, "error") %> prohibited this Kiosk Item from being saved:</h2>

      <ul>
      <% kioskitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <question>Title<required-field /></question>
    <form-field>
      <%= f.text_field :title, :class => "full-width-field" %>
    </form-field>

  <question>Link Path<required-field /></question>
    <form-field>
      <%= f.text_field :path %>
    </form-field>
  
  <question>Start<required-field /></question>
    <form-field>
      <%= f.datetime_select :starttime, :order => [:month, :day, :year],
                :startyear => Date.today.year,
                :startmonth => Date.today.month,
                :startday => Date.today.day,
                :starthour => Time.now.hour,
                :default => Time.now,
                :minute_step => 5,
                :ampm => true,
                :use_short_month => true
                %>
    </form-field>

  <question>Expiration<required-field /></question>
    <form-field>
      <%= f.datetime_select :endtime, :order => [:month, :day, :year],
                :startyear => Date.today.year,
                :startmonth => Date.today.month,
                :startday => Date.today.day,
                :starthour => Time.now.hour,
                :default => 21.days.from_now,
                :minute_step => 5,
                :ampm => true,
                :use_short_month => true
                %>
    </form-field>

  <question>Active Status</question>
    <form-field>
      <%= f.check_box :active %>
    </form-field>
    
  <question>Cover Image (1280x810)<required-field /></question>
    <form-field>
      <%= f.file_field :cover_image %><br />
      <%= image_tag @kioskitem.cover_image, :class => "thumb" if @kioskitem.cover_image.present? %>
      <%= f.hidden_field :cover_image_cache %><br />
    </form-field>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
