<<<<<<< HEAD
<footer>
  <container>
    <ul>
      <% @submenus.each do |sub| %>
        <li class="tier1"><group-title><%= link_to sub.title, submenu_path(sub) %></group-title><ul>
          <% sub.menuitems.alphabetical.each do |link| %>
            <li><%= link_to link.title, link.path %></li>
          <% end %>
        </ul></li>
      <% end %>
      <% if admin_signed_in? %>
        <li class="tier1"><group-title>Admin</group-title><ul>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "New Event", new_event_path %></li>
          <li><%= link_to "Edit Features", dashboard_path + "#features" %></li>
          <li><%= link_to "Images", images_path %></li>
          <li><%= link_to "Kiosk", kiosk_path %></li>
          <li><%= link_to "New Multicast", new_multicast_path %></li>
          <li><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
        </ul></li>
      <% end %>
    </ul>
=======
<ul>
  <li><ul>
    <li><h3>About</h3></li>
    <li>Beliefs</li>
    <li>Values</li>
    <li>Leadership</li>
  </ul></li>
  <li><ul>
    <li><h3>Media</h3></li>
    <li><%= link_to "Messages", "http://www.youtube.com/vc2online" %></li>
    <li><%= link_to "Worship", "https://itunes.apple.com/us/artist/vc2-music/1066077548" %></li>
  </ul></li>
  <li><ul>
    <li><h3>Ministries</h3></li>
    <li><%= link_to "Grow Groups", "https://vc2.churchcenter.com/groups/grow-groups" %></li>
    <li>Dream Teams</li>
    <li>VC3 - Kids</li>
    <li>Momentum Youth</li>
    <li>Bless The City</li>
  </ul></li>
  <li><ul>
    <li><h3>More</h3></li>
    <li><%= link_to "Events", events_path %></li>
    <li>Contact</li>
  </ul></li>
</ul>
>>>>>>> be4d248d05bb7a93b47eccdce1d4c49a57e15414

    <copyright>
      &copy;2017-<%= Time.now.year %> Victory Central Church. All rights reserved. | 
      <%= link_to "Privacy Policy" %> | 
      <% if admin_signed_in? %><%= link_to "Log Out", destroy_admin_session_path, method: :delete %><% else %><%= link_to "Admin Login", new_admin_session_path %><% end %>
      
    </copyright>
  </container>
</footer>