<<<<<<< HEAD
=======
<p id="notice"><%= notice %></p>

>>>>>>> be4d248d05bb7a93b47eccdce1d4c49a57e15414
<p>
  <strong>Expiration:</strong>
  <%= @feature.endtime %>
</p>

<p>
  <strong>Level:</strong>
  <%= @feature.level %>
</p>

<p>
<<<<<<< HEAD
  <strong>Page/Event:</strong>
  <%= @feature.event.present? ? @feature.event.title : @feature.page.title %>
=======
  <strong>Event:</strong>
  <%= @feature.event.title %>
</p>

<p>
  <strong>Page:</strong>
  <%= @feature.page %>
>>>>>>> be4d248d05bb7a93b47eccdce1d4c49a57e15414
</p>

<p>
  <strong>Classification:</strong>
  <%= @feature.classification %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
